body
{
    background-size: cover;
}

.heading
{
    width: 100%;
    margin: 0;
}

.heading h2
{
    float: left;
    font-size: 23px;
    color: white;
}

.heading button
{
    float: right;
    border: 1px solid white;
    border-radius: 10px;
}